body{
    background-color: coral;
}

.title{
    text-align: center;
    background-color: antiquewhite;
    font-weight: bold;
    border: 5px solid black;
    margin: 0px;
}


.border-simple{
    border:2px dotted white;
}

img{
    display:block;
    width: 50%;
    margin:20px auto;  
    border: 2px solid antiquewhite;
    border-radius: 20px;
}
.content{
    background-color:antiquewhite;
    border: 3px dotted white;
    padding:4px 30px;
    margin: 10px 10px;
}
.nav-bar{
    margin: 0 auto;
}
.nav-link{
    display:inline-flex;
    width:auto;
    padding: 10px;
    background-color: aqua;
    border: 3px solid black;
}